:root {
  --text-black: #4B4B4B;
  --blue: #009EE3;
  --dark-blue: #007AAF;
  --white: #ffffff;
  --green: #77B827;
  --dark-green: #498400;
  --orange: #FF6200;
  --light-gray: #EFEFEF;
  --darker-gray: #A2A2A2;
  --form-gray: #DCDCDC;

  --dark-text: #707070;
}

/* Font imports */
@font-face {
  font-family: ClanOT;
  font-weight: 100;
  src: url("../fonts/ClanOT-Thin.otf") format("opentype");
}

@font-face {
  font-family: ClanOT;
  font-weight: 500;
  src: url("../fonts/ClanOT-Medium.otf") format("opentype");
}

@font-face {
  font-family: ClanOT;
  font-weight: 900;
  src: url("../fonts/ClanOT-Black.otf") format("opentype");
}

/* Misc */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html.nav-open {
  overflow-y: hidden;
}

.logged-in {
  display: none;
}

a {
  color: var(--green);
}

a:hover {
  color: var(--green);
  outline: none;
}

/* Layout */
.section {
  padding: 45px 0;
}

.separator {
  width: 100%;
  height: 2px;
  background: var(--darker-gray);
  margin: 3rem 0;
}

/* .main .section:first-child {
  padding-top: 135px;
} */

.main .section:last-child {
  padding-bottom: 135px;
}

@media (max-width: 991px) {
  .section {
    padding: 20px 0;
  }
  /* .main .section:first-child {
    padding-top: 160px;
  } */
  .main .section:last-child {
    padding-bottom: 90px;
  }
}

@media (max-width: 500px) {
  /* .main .section:first-child {
    padding-top: 225px;
  } */
  .main .section:last-child {
    padding-bottom: 40px;
  }
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading h4 {
  color: var(--blue);
  font-weight: bold;
  margin-top: 0;
}

/* Typography */
html {
  font-size: 100%; /*16px*/
}

body {
  background: white;
  font-weight: 300;
  line-height: 1.85;
  font-size: 18px;
}

body, p, li {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

@media (max-width: 500px) {
  body, p, li {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
  /* margin-bottom:  */
  font-family: ClanOT;
  font-weight: 900;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 1.333rem;
}

h6 {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

@media (max-width: 991px) {
  h1 {
    font-size: 2.85rem;
  }
  h2 {
    font-size: 40px;
  }
  h4 {
    font-size: 28px;
  }
  h6 {
    font-size: 12px;
  }
}

.title {
  color: var(--blue);
  font-weight: 900;
  margin-top: 0;
}

.white-title {
  color: var(--white);
}

/* Buttons */
.btn {
  font-family: 'Inter', sans-serif;
  border-radius: 50px;
  padding: 12.5px 35px;
  text-transform: uppercase;
  font-weight: 900;
  border: 2px solid transparent;
  font-size: 18px;
  -webkit-transition: padding 0.2s ease-in-out;
  -o-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.btn:not(.btn-clean):after {
  content: '→';
  padding-left: 5px;
  font-size: 18px;
  color: var(--green);
  position: relative;
  top: -2px;
}

.btn:not(.btn-clean):hover {
  padding: 12.5px 45px;
  -webkit-transition: padding 0.2s ease-in-out;
  -o-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

/* .btn span {
  position: relative;
  top: -2px;
} */
 
.btn.btn-white {
  background: #fff;
  color: var(--green);
}
 
.btn.btn-white:hover {
  background: transparent;
  color: var(--white);
  border: 2px solid var(--white);
}
 
.btn.btn-white:hover:after {
  color: var(--white);
}
 
.btn.btn-green {
  background: var(--green);
  color: var(--white);
  box-shadow: none;
}
 
.btn.btn-green:after {
  color: var(--white);
}

.btn.btn-green.btn-animated {
  box-shadow: 0 0 15px rgb(0 0 0 / 16%);
}
 
.btn.btn-green:hover:after {
  color: var(--white);
}
 
.btn.btn-transparent {
  background: transparent;
  color: var(--green);
  border-color: var(--green);
}
 
.btn.btn-transparent:hover {
  background: var(--green);
  color: var(--white);
  border: 2px solid var(--green);
}
 
.btn.btn-transparent:hover:after {
  color: var(--white);
}

.btn.btn-transparent.white {
  color: var(--white);
  border-color: var(--white);
}

.btn.btn-transparent.white:after {
  color: var(--white);
}

.btn.btn-plain {
  background: transparent;
  color: var(--green);
  padding: 0;
  letter-spacing: 0;
  -webkit-transition: letter-spacing 0.2s ease-in-out;
  -o-transition: letter-spacing 0.2s ease-in-out;
  transition: letter-spacing 0.2s ease-in-out;
}

.btn.btn-plain.plain-white {
  color: var(--white);
}

.btn.btn-plain.plain-white:after {
  color: var(--white);
}

.btn.btn-plain:hover {
  letter-spacing: 1px;
  padding: 0;
  -webkit-transition: letter-spacing 0.2s ease-in-out;
  -o-transition: letter-spacing 0.2s ease-in-out;
  transition: letter-spacing 0.2s ease-in-out;
}
 
.btn.btn-link {
  padding: 0;
  color: var(--green);
  background: transparent;
  text-decoration: none;
  letter-spacing: 0;
  -webkit-transition: letter-spacing 0.2s ease-in-out;
  -o-transition: letter-spacing 0.2s ease-in-out;
  transition: letter-spacing 0.2s ease-in-out;
}
 
.btn.btn-link:hover {
  padding: 0;
  letter-spacing: 1px;
  -webkit-transition: letter-spacing 0.2s ease-in-out;
  -o-transition: letter-spacing 0.2s ease-in-out;
  transition: letter-spacing 0.2s ease-in-out;
}

.animated-btn {
  position: relative;
  margin-top: 2.5rem;
}

.animated-btn img.head {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -170%);
}

.animated-btn img.feet {
  position: absolute;
  transform: translate(-50%, -75%);
  left: 50%;
  top: 0;
}

.animated-btn.hidden img.head {
  z-index: -1;
  transform: translate(-50%, -125%);
  -webkit-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 500px) {
  .animated-btn.hidden img.head {
    transform: translate(-50%, -170%);
  }
}

.animated-btn.hidden:hover img.head {
  z-index: -1;
  transform: translate(-50%, -170%);
  -webkit-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.btn-none {
  border: none;
  background: transparent;
  color: var(--green);
}

.btn-none img {
  position: relative;
  top: -1px;
}

/* Top bar */
.top-bar {
  padding: 5px 0;
  background: #EFEFEF;
}

.top-bar .top-items {
  display: flex;
  justify-content: space-between;
  color: var(--dark-text);
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.top-bar .top-items span img {
  width: 16px;
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.top-bar .nav-items {
  display: flex;
}

.top-bar .nav-items .item a {
  margin-left: 2rem;
  color: var(--dark-text);
  text-decoration: none;
}

.top-bar .top-items {
  font-size: 14px;
}

@media (max-width: 991px) {
  .top-bar .top-items {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .top-bar .top-items {
    font-size: 14px;
  }
  .top-bar .top-items span {
    font-size: 12px;
  }
  .top-bar .top-items .nav-items {
    display: none;
    position: absolute;
    bottom: -385px;
    left: 0;
    background: #eee;
    height: 100%;
    flex-direction: column;
    width: 100%;
    z-index: 999;
    padding: 30px 15px;
    font-size: 14px;
  }
  .top-bar .top-items .nav-items.show {
    display: flex;
  }
  .top-bar .top-items .nav-items .item {
    padding: .5rem 0;
  }
  .top-bar .nav-items .item a {
    margin-left: 0;
  }
}

.collapsing{
  transition: height 0s ease
}

/* Navbar */
.navbar {
  padding: 1rem 0;
  position: relative;
}

.navbar .navbar-brand img {
  max-height: 55px;
}

.navbar .nav-link {
  color: var(--blue);
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 3rem;
  display: flex;
  align-items: center;
}

@media (max-width: 1400px) {
  .navbar .nav-link {
    margin-left: 1rem;
  }
}

.navbar .nav-link.has-sub-nav:after {
  content: url('../img/chevron-down.svg');
  margin-left: 5px;
  position: relative;
  top: 0;
}

.navbar .nav-link.has-sub-nav.active:after {
  content: url('../img/chevron-down-active.svg');
  font-size: 12px;
}

@media (min-width: 991px) {
  .navbar .nav-link.active {
    color: var(--green);
  }
}

.navbar form {
  position: relative;
  display: flex;
}

.search-btn {
  background: none;
  box-shadow: none;
  border: none;
  position: absolute;
  right: 6px;
  top: -3.5px;
  padding: 5px 7.5px;
  color: var(--darker-gray);
}

.search-btn i {
  font-size: 14px;
}

.mobile-action {
  display: none;
}

.mobile-buttons {
  display: none;
}

@media (max-width: 991px) {
  .navbar {
    padding: .75rem;
  }
  .navbar .navbar-brand img {
    max-height: 40px;
    max-height: 47px;
  }
  .navbar .nav-link {
    margin-left: 1rem;
    font-size: 12px;
  }
  .navbar .account {
    display: none;
  }
  .navbar .mobile-buttons img:first-child {
    margin-right: 1rem;
  }
  .navbar-toggler:focus {
    padding: 0;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .mobile-close {
    box-shadow: none;
    border: none;
    background: transparent;
    padding: 0;
  }
  .navbar form {
    display: none;
  }
}

@media (max-width: 991px) {
  .mobile-buttons {
    display: flex;
  }
}

@media (max-width: 500px) {
  .navbar-collapse.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
  }
  .navbar-nav {
    order: 2;
    background: #fff;
    margin-right: 0 !important;
    width: 100%;
    padding: 15px;
  }
  .navbar form {
    display: flex;
    order: 1;
    width: 100%;
    background: #fff;
    padding: 0 15px;
  }
  .navbar .mobile-buttons {
    display: none;
  }
  .navbar .nav-link {
    margin-left: 0;
    justify-content: space-between;
  }
  .mobile-action {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 30px 15px 15px;
  } 
  .mobile-action h6 {
    margin: 0;
  }
  .navbar .nav-link.has-sub-nav:after,
  .navbar .nav-link.active.has-sub-nav:after,
  .navbar .has-sub-category:after {
    content: '→';
    margin-left: 5px;
    position: relative;
    top: 0;
  }
  .navbar-toggler {
    padding: 0;
  }
  .navbar form .search-btn {
    right: 15px;
    top: -0.5px;
  }
  .navbar .nav-link {
    font-size: 14px;
  }
}

/* Sub navigation */
.sub-nav {
  position: absolute;
  bottom: 9999px;
  left: 0;
  width: 100%;
  background: #eee;
  transform: translateY(100%);
  padding: 50px 0;
  z-index: 999;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.sub-nav.shown {
  bottom: 0;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.sub-nav.shown .bodyClick {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  transform: translateY(100%);
  z-index: 999;
}

.sub-nav h3 {
  color: var(--green);
}

.sub-nav .nav-link {
  margin-left: 0;
  padding: 0 0 5px;
}

.sub-nav .nav-item a {
  color: var(--darker-gray);
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 501px) {
  .sub-nav .category-name {
    display: none;
  }
  .sub-nav .category-dots {
    display: none;
  }
}

@media (max-width: 768px) {
  .sub-nav .sub-nav-heading {
    display: none;
  }
  .sub-nav .parent-link {
    justify-content: flex-start;
  }
  .category-name {
    margin-right: 3px;
  }
}

.category-nav {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 5;
}

.category-sub-nav {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 5;
}

.category-nav.active,
.category-sub-nav.active {
  display: block;
}

.category-nav .navbar-nav {
  background: var(--light-gray);
  height: 100%;
}

.category-nav .navbar-nav h6 {
  color: var(--text-black);
}

.category-nav .nav-link a {
  color: var(--darker-gray);
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Form elements */
.form-control {
  padding: .375rem 1rem;
  color: var(--darker-gray);
  border: 1px solid var(--form-gray);
  border-radius: 0;
  margin-bottom: .5rem;
}

.form-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  margin-bottom: 2rem;
}

.form-group h4 {
  margin-bottom: 1rem;
}

/* Page header */
.page-header {
  background-size: cover;
}

.page-header.page-header.subpage-header {
  margin-bottom: 90px;
}

.page-header .content {
  padding: 60px 0;
}

.page-header h1 {
  margin-bottom: 0;
  text-shadow: 0 0 15px rgba(0,0,0,0.76);
  font-family: ClanOT;
  font-weight: 900;
}

.page-header p {
  color: var(--white);
  font-size: 32px;
  font-weight: 400;
  text-shadow: 0 0 8px rgb(0 0 0 / 76%);
}

.page-header .btn.btn-white:not(.btn-animated) {
  box-shadow: 0 0 15px rgb(0 0 0 / 76%);
} 

.page-header .container {
  position: relative;
  height: 100%;
}

/* .page-header .header-notification {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(50%); 
} */

.page-header .header-notification {
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
}

.page-header .header-notification .content {
  background: var(--blue);
  color: var(--white);
  text-align: center;
  padding: 15px !important;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.page-header .header-notification .content strong {
  font-weight: bold;
}

@media (min-width: 768px) {
  .page-header .header-notification {
    bottom: -30px;
  }
  .usp-section {
    position: relative;
    bottom: -25px;
  }
}

.usp-container .usp-item {
  color: var(--blue);
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

@media (min-width: 501px) and (max-width: 991px) {
  .usp-container .usp-item {
    font-size: 12px;
  }
}

.usp-container .usp-item img {
  width: 20px;
  position: relative;
  top: -2px;
  margin-right: 2.5px;
}

.usp-container .usp-item.green-item {
  color: var(--green);
}

.page-header .header-cta {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--green);
  padding: 30px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(50%, 25%);
}

@media (max-width: 1600px) {
  .page-header .header-cta {
    transform: translate(0%, 25%);
  }
}

.page-header .header-cta .close-btn {
  position: absolute;
  right: 17.5px;
  top: 10px;
  color: var(--white);
}

.page-header .header-cta p {
  color: var(--white);
  text-align: center;
  font-size: 20px;
  text-shadow: none;
}

@media (max-width: 991px) {
  .page-header.subpage-header {
    margin-bottom: 80px;
  }
  .page-header .header-cta {
    display: none;
  }
  .page-header .usp-container {
    transform: translateY(225%);
  }
}

@media (max-width: 500px) {
  .page-header {
    text-align: center;
  }
  .page-header.subpage-header {
    margin-bottom: 195px;
  }
  /* .page-header .header-notification {
    left: 0;
    transform: translateY(100%);
  } */
  /* .page-header .usp-container {
    transform: translateY(285%);
  } */
  .usp-section {
    padding-top: 30px !important;
  }
}

/* Subpage header */
.page-header.subpage-header {
  background: var(--blue);
  height: auto;
}

.page-header.subpage-header .content {
  padding: 3rem 0;
}

.page-header.subpage-header .header-notification .content {
  background: var(--dark-blue);
}

.page-header.subpage-header h1 {
  text-shadow: none;
}

.page-header.subpage-header p {
  text-shadow: none;
  line-height: 1.65;
}

/* Page top */
.page-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
}

.breadcrumbs a {
  text-transform: uppercase;
  color: var(--dark-blue);
  font-weight: 400;
  text-decoration: none;
}

.breadcrumbs h6 {
  margin-right: .5rem;
}

.breadcrumbs h6:not(:last-child):after {
  content: '→';
  margin-left: 5px;
  position: relative;
  color: var(--dark-blue);
  top: 0;
}

/* Notification */
.notification {
  background: var(--blue);
  padding: 15px;
  text-align: center;
  color: var(--white);
  font-weight: 400;
}

.notification a {
  text-decoration: underline;
  font-weight: bold;
  color: var(--white);
}

/* Animal slider */
.animal-item {
  position: relative;
  border-radius: 8px;
  /* width: 15%; */
}

.animal-item h6 {
  color: var(--green);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 20px;
  font-family: 'Inter', sans-serif;
}

.animal-item .animal-image {
  position: relative;
}

.animal-item .animal-image img {
  width: 100%;
}

.animal-item .animal-image .cropped-image {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.animal-item .animal-content {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  color: #fff;
}

@media (min-width: 991px) {
  .animal-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .swiper-container.animal-slider.destroyed .swiper-slide {
    width: 15% !important;
  }
  
  .animal-slider .animal-item {
    position: relative;
    border-radius: 8px;
    /* width: 15%; */
  }
  
  .animal-slider .animal-item h6 {
    color: var(--green);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 20px;
  }
  
  .animal-item:hover {
    cursor: pointer;
  }

  .animal-item:hover .cropped-image {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }

  .animal-item:hover .animal-content h6 {
    color: #fff;
    -webkit-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }

  .animal-item .original-image {
    display: none;
  }
  .animal-item .cropped-image {
    display: flex;
  }
}

@media (max-width: 991px) {
  .animal-item {
    width: 90%;
    margin: 0 auto;
    background: none !important;
    border: 1px solid var(--green);
    padding: 45px;
    border-radius: 8px;
  }

  .animal-item .original-image {
    display: flex;
  }
  .animal-item .cropped-image {
    display: none;
  }

  .animal-item .animal-image {
    margin-bottom: 2rem;
  }

  /* Count circles */
  .circle {
    margin: 0 auto;
  }

  /* Mobile animal slider */
  .animal-slider, .circle-slider {
    padding-bottom: 50px;
  }
  .swiper-pagination.swiper-pagination-bullets {
    bottom: 0;
  }
  .swiper-pagination-bullet-active {
    background: var(--green);
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  .swiper-pagination-bullet { 
    background: var(--green);
  }
}

@media (max-width: 500px) {
  .slider-section .container {
    padding: 0;
    max-width: 100%;
  }
}

/* Swiper */
.swiper-container.destroyed {
  overflow: visible;
}

.swiper-container.destroyed .swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.swiper-container.destroyed .swiper-wrapper .swiper-slide {
  width: auto;
}

.swiper-container.destroyed .swiper-pagination-bullet {
  display: none;
}

/* Video */
.video-container {
  position: relative;
}

.video-container img {
  border-radius: 8px;
}

.play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  background: #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--green);
}

.play-button svg {
  position: relative;
  left: 3.5px;
  width: 25px;
}

.play-button:hover {
  cursor: pointer;
  background: var(--green);
  border: 2px solid var(--white);
}

.play-button:hover svg path{
  fill: var(--white);
}

/* Call to action */
.section.cta-section {
  background: var(--green);
  padding: 90px 0;
  margin: 45px 0;
}

.section.cta-section img {
  width: 65%;
}

.section.cta-section .cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section.cta-section.image-section {
  background: transparent;
  margin: 0;
}

.section.cta-section.image-section .cta-content {
  padding: 60px 0;
  width: 52.5%;
  margin: 0 auto;
}

/* Count circles */
.count-circles {
  display: flex;
  justify-content: space-between;
}

.circle {
  text-align: center;
  color: var(--green);
  padding: 30px;
  border-radius: 50%;
  border: 2px solid var(--green);
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.circle .count {
  font-weight: 900;
  font-size: 50px;
}

.circle p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .circle {
    width: 220px;
    height: 220px;
  }
  .circle .count {
    font-weight: 900;
    font-size: 40px;
  }
}

@media (max-width: 500px) {
  .circle {
    width: 250px;
    height: 250px;
  }
  .circle .count {
    font-weight: 900;
    font-size: 50px;
  }
}

.circle-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.swiper-container.circle-slider.destroyed .swiper-slide {
  width: 30% !important;
}

/* Blog cards */
.card.blog-card { 
  position: relative;
  border: none;
  box-shadow: 0 0 15px rgb(0 0 0 / 16%);
  border-radius: 8px;
}

.card.blog-card .corner {
  border-radius: 0 0 8px 0;
}

.card.blog-card .card-body {
  padding: 20px;
}

.card.blog-card .card-image img {
  width: 100%;
  border-radius: 8px 8px 0 0 ;
}

.card.blog-card .card-category h6,
h6.category {
  text-transform: uppercase;
  color: var(--blue);
}

@media (max-width: 991px) {
  .blog-slider {
    padding-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .swiper-slide.swiper-slide-prev,
  .swiper-slide.swiper-slide-next {
    opacity: 0.5;
  }
}

.swiper-container.blog-slider.destroyed .swiper-slide {
  width: 31% !important;
}

/* Blog listing */
.blog-listing .card.blog-card {
  margin-bottom: 60px;
}

.card.blog-card.highlight-card {
  background: var(--green);
}

.card.blog-card.highlight-card h6,
.card.blog-card.highlight-card .title,
.card.blog-card.highlight-card p {
  color: var(--white);
}

/* Blog detail */
.blog-detail .blog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-detail img {
  margin: 30px 0;
} 

/* Footer */
footer {
  background: #EFEFEF;
  position: relative;
}

footer .container {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
}

@media (min-width: 1600px) {
  footer .animated-btn {
    transform: translate(50%, -137.5%);
  }
}

footer .animated-btn {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, -137.5%);
}

footer a {
  color: #000;
  font-weight: 300;
}

footer a:hover, footer a:active {
  color: inherit;
}

footer h6 {
  text-transform: uppercase;
}

footer .copyright {
  margin-top: 2rem;
}

footer .socials {
  display: flex;
}

footer .socials .social-icon {
  margin-right: 1rem;
}

footer .badges {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

footer .badges .badge-icon img {
  width: 100%;
}

@media (max-width: 500px) {
  footer {
    margin-top: 75px;
  }
  footer .animated-btn {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -135%);
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

/* Happy M@il */
.mail-container {
  background: var(--blue);
  color: var(--white);
  border-radius: 8px;
  padding: 20px;
  position: relative;
}

.corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90px;
}

.mail-container.mail-large {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mail-container.mail-large .body {
  width: 40%;
}

.mail-container.mail-large .mail-image {
  width: 35%;
  padding-right: 30px;
}

/* Contact card */
.card.contact-card {
  background: var(--light-gray);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.card.contact-card .card-body {
  padding: 30px 40px;
  width: 70%;
}

.card.contact-card .contact-image {
  position: relative;
  width: 30%;
  padding-top: 30px;
}

.card.contact-card .contact-image img {
  width: 100%;
}

.card.contact-card .card-body .title {
  margin-bottom: 10px;
}

.card.contact-card .card-body h6 {
  color: #000;
  font-weight: bold; 
}

/* Team */
.card.team-card {
  margin-bottom: 20px;
  align-items: flex-end;
}

.card.team-card .card-body {
  padding: 30px 40px;
  width: 60%;
  font-size: 16px;
}

.card.team-card.wide-card .card-body {
  width: 85%;
}

.card.team-card .contact-image {
  width: 40%;
  padding-top: 30px;
  position: relative;
}

.card.team-card.wide-card .contact-image {
  width: 15%;
  position: relative;
}

.card .contact-image .bottom-image,
.card .contact-image .top-image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.card .contact-image .top-image {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.card .contact-image .bottom-image {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.card:hover .contact-image .top-image {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.card:hover .contact-image .bottom-image {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.card.team-card h6 .team-code {
  font-weight: 400;
}

.card.team-card span {
  font-size: 16px;
}

/* Card overview */
.card-overview {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-overview > .spaced-card {
  flex: 1 1 33.3%; /*grow | shrink | basis */
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.card-overview > .spaced-card .animal-item{
  width: 50%;
}

/* Testimonials */
.testimonial-section p {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.testimonial-section .testimonial-name {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--white);
}

/* Products */
.product-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-listing .product-container {
  width: 20%;
  margin: 0 2.5% 2.5%;
  padding: 15px;
}

.product-container .product-desc h5 {
  color: var(--blue);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: bold;
}

.product-listing .product-container.product-cta {
  background: var(--light-gray);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-listing .product-container.product-cta .product-image {
  width: 70%;
  margin-bottom: auto;
}

/* Vraag 't Piggy */
.modal.cta-modal .modal-header .btn-close {
  background: none;
  width: auto;
  height: auto;
  opacity: 1;
}

.modal.cta-modal .modal-header {
  border-bottom: none;
  margin-top: 30px;
}

.modal.cta-modal .modal-body {
  display: flex;
  align-items: center;
}

.modal.cta-modal .modal-content {
  background: var(--green);
}

.modal.cta-modal .modal-content p {
  font-weight: 400;
}

.modal.cta-modal .modal-form {
  text-align: center;
}

.modal.cta-modal .modal-form .form-control {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.75);
  padding: 12.5px;
}

.modal.cta-modal .modal-form .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white);
  opacity: 0.5;
}

.modal.cta-modal .modal-form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--white);
  opacity: 0.5;
}

.modal.cta-modal .modal-form .form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--white);
  opacity: 0.5;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
}

/* Search */
.search-container {
  background: var(--green);
  padding: 30px;
}

.search-form select {
  text-transform: uppercase;
  color: var(--blue);
  font-weight: bold;
  border-radius: 0;
  font-size: 14px;
  padding: 10px;
}

.search-form select option {
  text-transform: none;
  color: #000;
  font-weight: 400;
  font-size: 14px;
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}

.search-results .result-item {
  width: 70%;
}

.search-results .result-item .result-title h4 {
  margin-bottom: 10px;
}

.search-results .result-item .result-desc p {
  text-decoration: underline;
  font-weight: 400;
}

.search-pagination {
  border-top: 1px solid var(--darker-gray);
  margin-top: 45px;
  display: flex;
}

.search-pagination .page-item {
  margin-right: 1.5rem;
  margin-top: .5rem;
}

.search-pagination .page-item a {
  text-decoration: none;
  color: var(--blue);
  font-weight: bold;
}

.search-pagination .page-item a.active {
  color: var(--dark-blue);
}
 
/* Result */
.result-detail h5 {
  color: var(--blue);
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 30px;
}

/* Form */
.form-group {
  position: relative;
}

.form-control {
  font-size: 14px;
  padding: 10px;
}

/* Product detail */
.product-detail {
  display: flex;
  justify-content: space-between;
}

.product-detail .product-content { 
  width: 65%;
}

.product-detail .product-image-slider { 
  position: relative;
}

.product-detail .product-actions { 
  width: 25%;
}

.product-slider .swiper-slide {
  position: relative;
  width: 100%;
}

.product-slider .swiper-slide img {
  width: 100%;
}

.thumb-slider {
  margin-top: 2rem;
}

.thumb-slider .swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thumb-slider .swiper-wrapper .swiper-slide {
  width: 22.5% !important;
  margin-right: 0 !important;
}

.thumb-slider .swiper-wrapper .swiper-slide img {
  width: 100%;
}

.product-detail .intro {
  margin-bottom: 30px;
}

.product-detail .intro p {
  font-weight: 400;
  font-size: 24px;
}

/* Detail items */
.detail-item {
  display: flex;
  align-items: center;
}

.detail-item .detail-category {
  width: 25%;
  font-weight: 500;
}

.detail-item .detail-desc {
  width: 75%;
}

.detail-item p {
  margin: 0;
}

/* ATC */
.atc-section .atc-top,
.atc-section .atc-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.atc-section .atc-top {
  margin-bottom: 10px;
}

.atc-section .price {
  font-weight: 600;
}

.atc-section .stock img {
  width: 20px;
  position: relative;
  top: -3px;
}

.atc-section .stock .in-stock {
  color: var(--dark-green);
  font-size: 16px;
}

.atc-section .stock .not-in-stock {
  color: var(--orange);
  text-decoration: underline;
  font-size: 16px;
}

/* Social listing */
.social-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-listing .social-image {
  width: 31.5%;
}

.social-listing > .social-image:nth-child(1) {
  margin-bottom: 30px;
}

/* Contact */
.contact-information {
  padding: 3rem 0;
}

/* Contact tabs */
.contact-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-tabs .contact-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contact-tabs .contact-tab .contact-button {
  border: 1px solid var(--green);
  border-radius: 8px;
  padding: 30px;
  position: relative;
  width: 100%;
}

.contact-tabs .contact-tab .contact-button.green {
  background: var(--green);
}

.contact-tabs .contact-tab .contact-button h5 {
  color: var(--green);
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 0;
}

.contact-tabs .contact-tab .contact-button.green h5 {
  color: var(--white);
}

.contact-tabs .contact-tab .contact-button .piggy-icon {
  position: absolute;
  bottom: 0;
  left: 55px;
}

.contact-tabs .contact-tab .contact-button .piggy-icon .head {
  position: absolute;
  bottom: 0;
  left: 18px;
}

.contact-tabs .contact-tab .contact-button .piggy-icon .feet {
  position: absolute;
  bottom: 0;
  left: 0;
}