<footer>
  <img src="../img/card-corner.svg" class="corner">
  <div class="container">
    <div class="animated-btn hidden">
      <img class="head" src="../img/animations/piggy-head.svg" />
      <img class="feet" src="../img/animations/piggy-feet.svg" />
      <a href="#" class="btn btn-green btn-animated" data-bs-toggle="modal" data-bs-target="#piggyModal">
        <span>Vraag 't Piggy</span>
      </a>
    </div>
    <div class="row">

      <div class="col-md-4 mb-4 mb-md-0">
        <div class="mail-container">
          <img src="../img/card-corner-white.svg" class="corner">
          <h4 class="title white-title">Happy M@il</h4>
          <p>
            Direct onze laatste voorraad en nieuw aanbod in je mailbox!
          </p>
          <a href="#" class="btn btn-plain plain-white">
            <span>Aanmelden</span>
          </a>
        </div>
      </div>

      <div class="col-md-3 mx-auto mb-4 mb-md-0">
        <h6>Contact</h6>
        <p>
          Kernfarm B.V.<br>
          De Corridor 14D<br>
          3621 ZB Breukelen<br>
          The Netherlands<br>
          <br>
          <a href="mailto:info@kernfarm.com">info@kernfarm.com</a><br>
          <br>
          Kantoor: +31 (0) 346 785 139<br>
          Buiten kantooruren: +31 (0) 6 3222 0087
        </p>

        <div class="socials">
          <div class="social-icon">
            <img src="../img/social-icons/linkedin.svg" /> 
          </div>
          <div class="social-icon">
            <img src="../img/social-icons/twitter.svg" /> 
          </div>
          <div class="social-icon">
            <img src="../img/social-icons/instagram.svg" />                               
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="d-flex flex-column h-100">
          <h6>Legal</h6>
          <div class="nav-item">
            <a href="#">
              Algemene voorwaarden
            </a>
          </div>
          <div class="nav-item">
            <a href="#">
              Privacy statement
            </a>
          </div>
          <div class="nav-item">
            <a href="#">
              Cookie statement
            </a>
          </div>
          <div class="nav-item">
            <a href="#">
              Disclaimer
            </a>
          </div>

          <div class="copyright">
            <p>Copyright 2021 - Kernfarm</p>
          </div>

          <div class="badges">
            <div class="badge-icon">
              <img src="../img/badges/GMP-Logo-1.svg" />
            </div>
            <div class="badge-icon">
              <img src="../img/badges/Image 2.svg" />
            </div>
            <div class="badge-icon">
              <img src="../img/badges/Top-250-groeibedrijven-2020.svg" />
            </div>
            <div class="badge-icon">
              <img src="../img/badges/Laag 1.svg" />
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</footer>