    <!-- Navigation bar -->
    <nav class="top-bar">
      <div class="container-fluid">
        <div class="top-items">
          <span>
            <img src="../img/megaphone.svg">
            ALARMNUMMER:  +31 (0)6 3222 0087
          </span>
          <div class="nav-items">
            <div class="item">
              <a href="#">Over</a>
            </div>
            <div class="item">
              <a href="#">Team</a>
            </div>
            <div class="item">
              <a href="#">Agenda</a>
            </div>
            <div class="item">
              <a href="#">Actueel</a>
            </div>
            <div class="item">
              <a href="#">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/img/kernfarm-logo.svg" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <img src="../img/navbar-toggler.svg" />
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="mobile-action">
            <h6 class="text-uppercase">Menu</h6>
            <button class="mobile-close" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
              <img src="../img/close.svg" />
            </button>
          </div>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link has-sub-nav active" href="#">Dieren</a>
              <!-- Category navigation -->
              <div class="category-nav">
                <div class="nav-item">
                  <div class="nav-link parent-link">
                    Dieren:
                  </div>
                </div>
                <div class="nav-item">
                  <div class="nav-link has-sub-nav">
                    <a href="#">
                      Rundvee
                    </a>
                  </div>
                </div>
                <div class="nav-item">
                  <div class="nav-link has-sub-nav">
                    <a href="#">
                      Varkens
                    </a>
                  </div>
                </div>
                <div class="nav-item">
                  <div class="nav-link has-sub-nav">
                    <a href="#">
                      Pluimvee
                    </a>
                  </div>
                </div>
                <div class="nav-item">
                  <div class="nav-link has-sub-nav">
                    <a href="#">
                      Kleine herkauwers
                    </a>
                  </div>
                </div>
                <div class="nav-item">
                  <div class="nav-link has-sub-nav">
                    <a href="#">
                      Paarden
                    </a>
                  </div>
                </div>
                <div class="nav-item">
                  <div class="nav-link has-sub-nav">
                    <a href="#">
                      Gezelschapsdieren
                    </a>
                  </div>
                </div>
              </div>
              <!-- Sub navigation -->
              <div class="sub-nav">
                <div class="bodyClick"></div>
                <div class="container">
                  <div class="row sub-nav-heading">
                    <div class="col-md-12">
                      <h3 class="title">
                        Samenwerken aan de gezondheid voor deze doeldieren:
                      </h3>
                    </div>
                  </div>
                  <div class="row">
        
                    <div class="col-md-2">
                      <div class="nav-item">
                        <div class="nav-link parent-link">
                          <span class="category-name">Dieren / </span>Rundvee<span class="category-dots">:</span>
                        </div>
                      </div>
                      <div class="nav-item">
                        <div class="nav-link">
                          <a href="#">
                            Melkvee
                          </a>
                        </div>
                      </div>
                      <div class="nav-item">
                        <div class="nav-link">
                          <a href="#">
                            Vleesvee
                          </a>
                        </div>
                      </div>
                      <div class="nav-item">
                        <div class="nav-link">
                          <a href="#">
                            Jongvee
                          </a>
                        </div>
                      </div>
                    </div>
        
                    <div class="col-md-2">
                      <div class="nav-item">
                        <div class="nav-link parent-link">
                          <span class="category-name">Dieren / </span>Varkens<span class="category-dots">:</span>
                        </div>
                      </div>
                      <div class="nav-item">
                        <div class="nav-link">
                          <a href="#">
                            Zeugen
                          </a>
                        </div>
                      </div>
                      <div class="nav-item">
                        <div class="nav-link">
                          <a href="#">
                            Biggen
                          </a>
                        </div>
                      </div>
                      <div class="nav-item">
                        <div class="nav-link">
                          <a href="#">
                            Vleesvarkens
                          </a>
                        </div>
                      </div>
                    </div>
        
                    <div class="col-md-2">
                      <div class="nav-item">
                        <div class="nav-link parent-link">
                          <span class="category-name">Dieren / </span>Pluimvee<span class="category-dots">:</span>
                        </div>
                      </div>
                      <div class="nav-item">
                        <div class="nav-link">
                          <a href="#">
                            Vleeskuiken
                          </a>
                        </div>
                      </div>
                      <div class="nav-item">
                        <div class="nav-link">
                          <a href="#">
                            Legkip
                          </a>
                        </div>
                      </div>
                      <div class="nav-item">
                        <div class="nav-link">
                          <a href="#">
                            Fok/ouderdier
                          </a>
                        </div>
                      </div>
                      <div class="nav-item">
                        <div class="nav-link">
                          <a href="#">
                            Kalkoen
                          </a>
                        </div>
                      </div>
                    </div>
        
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Producten</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hulplijn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Innovatie</a>
            </li>
          </ul>
          <form> 
            <input class="form-control" type="search" placeholder="Zoeken naar..." aria-label="Zoeken">
            <button class="search-btn" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
          <div class="account">

            <!-- Wanneer niet ingelogd -->
            <div class="logged-out">
              <a class="nav-link has-sub-nav" href="#">Inloggen / registreren</a>
              <!-- Sub navigation -->
              <div class="sub-nav">
                <div class="bodyClick"></div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <h3 class="title">
                        Je persoonlijke omgeving
                      </h3>
                    </div>
                  </div>
                  <div class="row">
        
                    <div class="col-md-2">
                      <div class="nav-item">
                        <div class="nav-link parent-link">
                          Dashboard
                        </div>
                      </div>
                      <div class="nav-item">
                        <div class="nav-link">
                          <a href="#">
                            Bestellingen
                          </a>
                        </div>
                      </div>
                      <div class="nav-item">
                        <div class="nav-link">
                          <a href="#">
                            Facturen
                          </a>
                        </div>
                      </div>
                      <div class="nav-item">
                        <div class="nav-link">
                          <a href="#">
                            Mijn gegevens
                          </a>
                        </div>
                      </div>
                      <div class="nav-item">
                        <div class="nav-link">
                          <a href="#">
                            Uitloggen
                          </a>
                        </div>
                      </div>
                    </div>
        
                  </div>
                </div>
              </div>
            </div>

            <!-- Wanneer wel ingelogd -->
            <div class="logged-in">
              <a class="nav-link has-sub-nav" href="#">Account</a>
            </div>

          </div>
          <div class="mobile-buttons">
            <img src="../img/search.svg" />
            <img src="../img/user.svg" />
          </div>
        </div>
      </div>
    </nav>